<% provide( :title, "About" ) %>

<html>
  <title><%= yield( :title  ) %> | Chatter</title>
  <h1>About this project</h1>

  <p>
    This application was made by following "The Rails Tutorial" by Michael Hartl and expanding upon it.
    The application is a twitter close that has users/microposts and basic social functions like
    following other users and commenting.
  </p>
</html>
