<% provide( :title, "Help" ) %>

<html>
  <title><%= yield( :title ) %> | Chatter</title>
  <h1>Help</h1>
  <p>
  To get help email go to <a href="https://www.railstutorial.org/help">Rails Tutorial Help</a>
  </p>
</html>
